[mysqld]
max_connections         = 50
innodb_buffer_pool_size = 128M
query_cache_size        = 16M
key_buffer_size         = 16M
thread_cache_size       = 4
table_open_cache        = 64
tmp_table_size          = 32M
max_allowed_packet      = 64M
